In [3]:
%matplotlib notebook

In [4]:
#import dependencies

import requests
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import gmaps
import os 
import pprint

In [5]:
# read in atlanta csv

atlanta_restaurant_totals = pd.read_csv("../Output/atlanta_restaurants.csv")

In [6]:
atlanta_restaurants

,Unnamed: 0,name,city,latitude,longitude,zipcode,ethnicity,price,rating
0,0,Bao Bun Hibachi,Atlanta,33.801160,-84.414700,30318,chinese,$,4.5
1,1,Little Bangkok,Atlanta,33.815930,-84.352190,30324,chinese,$$,4.0
2,2,Urban Wu,Atlanta,33.846710,-84.374065,30305,chinese,$$,4.0
3,3,Food Terminal,Atlanta,33.778829,-84.410034,30318,chinese,$$,4.5
4,4,Hibachi Buffet,Atlanta,33.841328,-84.327574,30329,chinese,$,4.5
...,...,...,...,...,...,...,...,...,...
484,484,T1 Bento,Atlanta,33.907766,-84.289732,30341,thai,$,4.0
485,485,Saigon Cafe - Cumberland,Atlanta,33.887040,-84.475595,30080,thai,$$,3.5
486,486,Thai Cafe,Atlanta,33.879660,-84.467664,30339,thai,NaN,2.5
487,487,Tin Drum Asian Kitchen - Akers Mill Square,Atlanta,33.882804,-84.462033,30339,thai,$,2.5
488,488,ThaiPointe,Atlanta,33.893510,-84.284300,30341,thai,NaN,1.0

In [21]:
atlanta_restaurants.loc[atlanta_restaurants.ethnicity == 'chinese', 'ethnicity'].count()

60