In [10]:
#import dependencies

import requests
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import gmaps
import os 
import pprint
import urllib

#import yelp_key
from config import yelp_key

In [2]:
#read in zipcode CSVs

philadelphia_zips = pd.read_csv("../Resources/philadelphia_zipcodes.csv")

atlanta_zips = pd.read_csv("../Resources/atlanta_zipcodes.csv")

dallas_zips = pd.read_csv("../Resources/dallas_zipcodes.csv")

indianapolis_zips = pd.read_csv("../Resources/indianapolis_zipcodes.csv")

seattle_zips = pd.read_csv("../Resources/seattle_zipcodes.csv")

In [3]:
#clean zip codes of url reference at bottom
philadelphia_zips.drop(philadelphia_zips.tail(1).index,inplace=True)
atlanta_zips.drop(atlanta_zips.tail(1).index,inplace=True)
dallas_zips.drop(dallas_zips.tail(1).index,inplace=True)
indianapolis_zips.drop(indianapolis_zips.tail(1).index,inplace=True)
seattle_zips.drop(seattle_zips.tail(1).index,inplace=True)


#check that this worked
philadelphia_zips.tail()

   Philadelphia
43        19150
44        19151
45        19152
46        19153
47        19154

In [4]:
# set up additional columns to hold information - philadelphia
philadelphia_zips['name'] = ""
philadelphia_zips['ethnicity'] = ""
philadelphia_zips['price level'] = ""
philadelphia_zips['service type'] = ""
philadelphia_zips['rating'] = ""


philly_zips = [zips for zips in philadelphia_zips['Philadelphia'] ]

In [5]:
#read in ethnicites csv
restaurant_ethnicities = pd.read_csv("../Resources/rest_enthinicity.csv")
restaurant_ethnicities.head()

  ethnicity
0   chinese
1    french
2     greek
3    indian
4   italian

In [27]:
#starting call for philadelphia

#query url needs to ultimately be GET https://api.yelp.com/v3/businesses/search?term=[ethnicity]&[latitude=37.786882&longitude=-122.399972]

philly_zips = [zips for zips in philadelphia_zips['Philadelphia'] ]
restaurant_ethnic = [ethnicity for ethnicity in restaurant_ethnicities['ethnicity'] ]

API_HOST = 'https://api.yelp.com/v3/categories/search'
url_params = {
        'Authorization':Bearer ,
        'term': restaurant_ethnic,
        'location': 'Philadelphia',
    }
   


    
response = requests.get(API_HOST,url_params).json()      
#results = response['results']

    #query_url = f"{base_url}+{zipcode}&key={gkey}"
    #response = requests.get(query_url)
    
    #results = response['results']
    
    #philadelphia_restaurants = response.json()

        #philadelphia_zips.loc[index, 'name'] = results[0]['name']
        #philadelphia_zips.loc[index, 'price_level'] = results[0]['price_level']
        #philadelphia_zips.loc[index, 'rating'] = results[0]['rating']
print(json.dumps(response, indent=4, sort_keys=True))

SyntaxError: invalid syntax (<ipython-input-27-3432913daa57>, line 10)