In [1]:
# Import dependencies
import matplotlib.pyplot as plt
from matplotlib import cm
import pandas as pd
import numpy as np
import requests
import random
import scipy.stats as st
import gmaps

from config import google_key

ImportError: cannot import name 'google_key'

# Dallas

In [ ]:
# import yelp city csv & read into dataframe
dallas_yelp_path = "./Output/Data/dallas_restaurants.csv"
dallas_yelp = pd.read_csv(dallas_yelp_path)
dallas_yelp

In [ ]:
dallas_ethnicity_sums = dallas_yelp["ethnicity"].value_counts()

In [ ]:
ethnicity_colors=['red', 'orange', 'yellow', 'lime', 'green', 'cyan', 'dodgerblue', 'blue', 'darkviolet', 'purple', 'magenta']

In [ ]:
ethnic_groups = dallas_yelp.groupby("ethnicity")
ethnic_counts = ethnic_groups['ethnicity'].count()

#my_cmap = cm.get_cmap('plasma')
dallas_ethnic_bar = ethnic_counts.plot(kind='bar', color=ethnicity_colors)
                                       #color=[plt.cm.plasma(np.arange(len(dallas_ethnicity_sums)))])
dallas_ethnic_bar.set_title("# of Restaurants by Ethnicity in Dallas")
dallas_ethnic_bar.set_xlabel("Ethnicity")
dallas_ethnic_bar.set_ylabel("# of Restaurants")
plt.savefig("./Output/Charts/DallasYelpBar.png")
plt.figure(figsize=(12,6))
plt.tight_layout()
plt.show()

In [ ]:
price_groups = dallas_yelp["price"].value_counts()
price_groups

In [ ]:
# create new filtered df to drop any restaurants that have no price grade listed
dallas_price_df = pd.DataFrame(dallas_yelp.dropna(subset=['price']))
dallas_price_df['price_int'] = [len(price) for price in dallas_price_df['price']]
dallas_price_df

In [ ]:
dallas_ethnic_price = dallas_price_df.groupby("ethnicity")["price"].value_counts()
#dallas_ethnic_price

In [ ]:
bar_plot = dallas_price_df[dallas_price_df["price_int"]==1].groupby("ethnicity").count()["price"].plot(kind='bar', color='mediumslateblue')
bar_plot.set_ylabel("Count of 1$ Restaurants")
bar_plot.set_xlabel("Cuisine Type")
bar_plot.set_title("1$ Restaurants by Cuisine/Restaurant Type in Dallas")
plt.savefig("./Output/Charts/Dallas_Ethnic_1$_Bar.png")

In [ ]:
bar_plot2 = dallas_price_df[dallas_price_df["price_int"]==2].groupby("ethnicity").count()["price"].plot(kind='bar', color="slateblue")
bar_plot2.set_ylabel("Count of 2$ Restaurants")
bar_plot2.set_xlabel("Cuisine Type")
bar_plot2.set_title("2$ Restaurants by Cuisine/Restaurant Type in Dallas")
plt.savefig("./Output/Charts/Dallas_Ethnic_2$_Bar.png")

In [ ]:
bar_plot3 = dallas_price_df[(dallas_price_df["price_int"]==3)|(dallas_price_df["price_int"]==4)].groupby("ethnicity").count()["price"].plot(kind='bar', color='darkslateblue')
bar_plot3.set_ylabel("Count of 3$ and 4$ Restaurants")
bar_plot3.set_xlabel("Cuisine Type")
bar_plot3.set_title("3$ and 4$ Restaurants by Cuisine/Restaurant Type in Dallas")
plt.savefig("./Output/Charts/Dallas_Ethnic_3$4$_Bar.png")

In [ ]:
# bar_plot.set_xlabel("Ethnicity & Pricepoint")
# bar_plot.set_ylabel("Count")
# bar_plot.set_title("Breakdown of Restaurant Ethnicity by Pricepoint - Dallas")
# #plt.savefig("./Output/Charts/Dallas_Ethnicity_Price_Bar.png")
# plt.tight_layout()
# plt.show()

In [ ]:
dallas_rating_price = dallas_price_df.groupby("rating")["price"].value_counts()
#dallas_rating_price

In [ ]:
# bar_plot = dallas_price_df.groupby("rating")["price_int"].value_counts().plot(kind='bar') 
# bar_plot.set_xlabel("Rating & Pricepoint")
# bar_plot.set_ylabel("Count")
# bar_plot.set_title("Breakdown of Restaurant Rating by Pricepoint - Dallas")
# #plt.savefig("./Output/Charts/Dallas_Rating_Price_Bar.png")
# plt.show()

In [ ]:
bar_plot = dallas_price_df[dallas_price_df["price_int"]==1].groupby("rating").count()["price"].plot(kind='bar', color='turquoise')
bar_plot.set_ylabel("Count of 1$ Restaurants")
bar_plot.set_xlabel("Rating")
bar_plot.set_title("Breakdown of Restaurant Rating by $ Pricepoint - Dallas")
plt.savefig("./Output/Charts/Dallas_Rating_1$_Bar.png")

In [ ]:
bar_plot = dallas_price_df[dallas_price_df["price_int"]==2].groupby("rating").count()["price"].plot(kind='bar', color='lightseagreen')
bar_plot.set_ylabel("Count of 2$ Restaurants")
bar_plot.set_xlabel("Rating")
bar_plot.set_title("Breakdown of Restaurant Rating by 2$ Pricepoint - Dallas")
plt.savefig("./Output/Charts/Dallas_Rating_2$_Bar.png")

In [ ]:
bar_plot3 = dallas_price_df[(dallas_price_df["price_int"]==3)|(dallas_price_df["price_int"]==4)].groupby("rating").count()["price"].plot(kind='bar', color='teal')
bar_plot3.set_ylabel("Count of 3$ & 4$ Restaurants")
bar_plot3.set_xlabel("Rating")
bar_plot3.set_title("Breakdown of Restaurant Rating by 3$ and 4$ Pricepoint - Dallas")
plt.savefig("./Output/Charts/Dallas_Rating_3$4$_Bar.png")

In [ ]:
# Configure gmaps
gmaps.configure(api_key=google_key)

figure_layout = {
    'width': '600px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px'
}

# create variables for heatmap
locations = dallas_price_df[["latitude", "longitude"]]
price = dallas_price_df["price_int"].astype(float)
dallas_center = (32.779167, -96.808891)

fig = gmaps.figure(layout=figure_layout, center=dallas_center, zoom_level=5)

# create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=price, dissipating=True, point_radius=10)

# add layer
fig.add_layer(heat_layer)

# display figure
fig

# Seattle

In [ ]:
# import yelp city csv & read into dataframe
seattle_yelp_path = "./Output/Data/seattle_restaurants.csv"
seattle_yelp = pd.read_csv(seattle_yelp_path)
seattle_yelp.head()

In [ ]:
seattle_ethnicity_sums = seattle_yelp["ethnicity"].value_counts()
seattle_ethnicity_sums

In [ ]:
ethnic_groups = seattle_yelp.groupby("ethnicity")
ethnic_counts = ethnic_groups['ethnicity'].count()
seattle_ethnic_bar = ethnic_counts.plot(kind='bar', color=ethnicity_colors)
seattle_ethnic_bar.set_title("# of Restaurants by Ethnicity in Seattle")
seattle_ethnic_bar.set_xlabel("Ethnicity")
seattle_ethnic_bar.set_ylabel("# of Restaurants")
plt.savefig("./Output/Charts/SeattleYelpBar.png")
plt.figure(figsize=(12,6))
plt.tight_layout()
plt.show()

In [ ]:
seattle_price_df = pd.DataFrame(seattle_yelp.dropna(subset=['price']))
seattle_price_df['price_int'] = [len(price) for price in seattle_price_df['price']]
seattle_price_df

In [ ]:
seattle_ethnic_price = seattle_price_df.groupby("ethnicity")["price"].value_counts()
#seattle_ethnic_price

In [ ]:
bar_plot = seattle_price_df[seattle_price_df["price_int"]==1].groupby("ethnicity").count()["price"].plot(kind='bar', color='mediumslateblue')
bar_plot.set_ylabel("Count of 1$ Restaurants")
bar_plot.set_xlabel("Cuisine Type")
bar_plot.set_title("1$ Restaurants by Cuisine/Restaurant Type in Seattle")
plt.savefig("./Output/Charts/Seattle_Ethnic_1$_Bar.png")

In [ ]:
bar_plot2 = seattle_price_df[seattle_price_df["price_int"]==2].groupby("ethnicity").count()["price"].plot(kind='bar', color='slateblue')
bar_plot2.set_ylabel("Count of 2$ Restaurants")
bar_plot2.set_xlabel("Cuisine Type")
bar_plot2.set_title("2$ Restaurants by Cuisine/Restaurant Type in Seattle")
plt.savefig("./Output/Charts/Seattle_Ethnic_2$_Bar.png")

In [ ]:
bar_plot3 = seattle_price_df[(seattle_price_df["price_int"]==3)|(seattle_price_df["price_int"]==4)].groupby("ethnicity").count()["price"].plot(kind='bar', color='darkslateblue')
bar_plot3.set_ylabel("Count of 3$ and 4$ Restaurants")
bar_plot3.set_xlabel("Cuisine Type")
bar_plot3.set_title("3$ and 4$ Restaurants by Cuisine/Restaurant Type in Seattle")
plt.savefig("./Output/Charts/Seattle_Ethnic_3$4$_Bar.png")

In [ ]:
# bar_plot = seattle_price_df.groupby("ethnicity")["price_int"].value_counts().plot(kind='bar') 
# bar_plot.set_xlabel = ("Ethnicity & Pricepoint")
# bar_plot.set_ylabel =("Count")
# bar_plot.set_title = ("Breakdown of Restaurant Ethnicity by Pricepoint - Seattle")
# #plt.savefig("./Output/Charts/Seattle_Ethnic_Price_Bar.png")
# plt.show()

In [ ]:
seattle_rating_price = seattle_price_df.groupby("rating")["price"].value_counts()
# seattle_rating_price

In [ ]:
bar_plot = seattle_price_df[seattle_price_df["price_int"]==1].groupby("rating").count()["price"].plot(kind='bar', color='turquoise')
bar_plot.set_ylabel("Count of 1$ Restaurants")
bar_plot.set_xlabel("Rating")
bar_plot.set_title("Breakdown of Restaurant Rating by $ Pricepoint - Seattle")
plt.savefig("./Output/Charts/seattle_Rating_$_Bar.png")

In [ ]:
bar_plot2 = seattle_price_df[seattle_price_df["price_int"]==2].groupby("rating").count()["price"].plot(kind='bar', color='lightseagreen')
bar_plot2.set_ylabel("Count of 2$ Restaurants")
bar_plot2.set_xlabel("Rating")
bar_plot2.set_title("Breakdown of Restaurant Rating by 2$ Pricepoint - Seattle")
plt.savefig("./Output/Charts/seattle_Rating_2$_Bar.png")

In [ ]:
bar_plot3 = seattle_price_df[(seattle_price_df["price_int"]==3)|(seattle_price_df["price_int"]==4)].groupby("rating").count()["price"].plot(kind='bar', color='teal')
bar_plot3.set_ylabel("Count of 3$ & 4$ Restaurants")
bar_plot3.set_xlabel("Rating")
bar_plot3.set_title("Breakdown of Restaurant Rating by 3$ and 4$ Pricepoint - Seattle")
plt.savefig("./Output/Charts/Seattle_Rating_3$4$_Bar.png")

In [ ]:
# seattle_price_df.groupby("rating")["price_int"].value_counts().plot(kind='bar') 
# plt.xlabel =("Rating & Pricepoint")
# plt.ylabel =("Count")
# plt.title =("Breakdown of Restaurant Rating by Pricepoint - Seattle")
# #plt.savefig("./Output/Charts/Seattle_Rating_Price_Bar.png")
# plt.show()

In [ ]:
# Configure gmaps
gmaps.configure(api_key=google_key)

figure_layout = {
    'width': '600px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px'
}

# create variables for heatmap
locations = seattle_price_df[["latitude", "longitude"]]
price = seattle_price_df["price_int"].astype(float)
#maxprice = price_int.max()

#dallas_center = (32.779167, -96.808891)
seattle_center = (47.608013, -122.335167)
fig = gmaps.figure(layout=figure_layout, center=seattle_center, zoom_level=5)

# create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=price, dissipating=True, point_radius=5)

# add layer
fig.add_layer(heat_layer)

# display figure
fig

# Indianapolis

In [ ]:
indianapolis_yelp_path = "./Output/Data/indianapolis_restaurants.csv"
indianapolis_yelp = pd.read_csv(indianapolis_yelp_path)
indianapolis_yelp.head()

In [ ]:
indianapolis_ethnicity_sums = indianapolis_yelp["ethnicity"].value_counts()
# indianapolis_ethnicity_sums

In [ ]:
indy_ethnic_groups = indianapolis_yelp.groupby("ethnicity")
indy_ethnic_counts = indy_ethnic_groups['ethnicity'].count()
indianapolis_ethnic_bar = indy_ethnic_counts.plot(kind='bar', color=ethnicity_colors)
indianapolis_ethnic_bar.set_title("# of Restaurants by Ethnicity in indianapolis")
indianapolis_ethnic_bar.set_xlabel("Ethnicity")
indianapolis_ethnic_bar.set_ylabel("# of Restaurants")
plt.savefig("./Output/Charts/IndianapolisYelpBar.png")
plt.figure(figsize=(12,6))
plt.tight_layout()
plt.show()

In [ ]:
indy_price_df = pd.DataFrame(indianapolis_yelp.dropna(subset=['price']))
indy_price_df['price_int'] = [len(price) for price in indy_price_df['price']]
indy_price_df

In [ ]:
indy_ethnic_price = indy_price_df.groupby("ethnicity")["price"].value_counts()
#indy_ethnic_price

In [ ]:
bar_plot = indy_price_df[indy_price_df["price_int"]==1].groupby("ethnicity").count()["price"].plot(kind='bar', color='mediumslateblue')
bar_plot.set_ylabel("Count of 1$ Restaurants")
bar_plot.set_xlabel("Cuisine Type")
bar_plot.set_title("1$ Restaurants by Cuisine/Restaurant Type in Indianapolis")
plt.savefig("./Output/Charts/indy_Ethnic_1$_Bar.png")

In [ ]:
bar_plot2 = indy_price_df[indy_price_df["price_int"]==2].groupby("ethnicity").count()["price"].plot(kind='bar', color='slateblue')
bar_plot2.set_ylabel("Count of 2$ Restaurants")
bar_plot2.set_xlabel("Cuisine Type")
bar_plot2.set_title("2$ Restaurants by Cuisine/Restaurant Type in Indianapolis")
plt.savefig("./Output/Charts/Indy_Ethnic_2$_Bar.png")

In [ ]:
bar_plot3 = indy_price_df[(indy_price_df["price_int"]==3)|(indy_price_df["price_int"]==4)].groupby("ethnicity").count()["price"].plot(kind='bar', color='darkslateblue')
bar_plot3.set_ylabel("Count of 3$ and 4$ Restaurants")
bar_plot3.set_xlabel("Cuisine Type")
bar_plot3.set_title("3$ and 4$ Restaurants by Cuisine/Restaurant Type in Indianapolis")
plt.savefig("./Output/Charts/Indy_Ethnic_3$4$_Bar.png")

In [ ]:
# indy_price_df.groupby("ethnicity")["price_int"].value_counts().plot(kind='bar') 
# plt.xlabel =("Ethnicity & Pricepoint")
# plt.ylabel =("Count")
# plt.title =("Breakdown of Restaurant Ethnicity by Pricepoint - Indianapolis")
# #plt.savefig("./Output/Charts/Indianapolis_Ethnic_Price_Bar.png")
# plt.show()

In [ ]:
indy_rating_price = indy_price_df.groupby("rating")["price"].value_counts()
#indy_rating_price

In [ ]:
bar_plot = indy_price_df[indy_price_df["price_int"]==1].groupby("rating").count()["price"].plot(kind='bar', color='turquoise')
bar_plot.set_ylabel("Count of 1$ Restaurants")
bar_plot.set_xlabel("Rating")
bar_plot.set_title("Breakdown of Restaurant Rating by $ Pricepoint - Indianapolis")
plt.savefig("./Output/Charts/Indy_Rating_1$_Bar.png")

In [ ]:
bar_plot2 = indy_price_df[indy_price_df["price_int"]==2].groupby("rating").count()["price"].plot(kind='bar', color='lightseagreen')
bar_plot2.set_ylabel("Count of 2$ Restaurants")
bar_plot2.set_xlabel("Rating")
bar_plot2.set_title("Breakdown of Restaurant Rating by 2$ Pricepoint - Indianapolis")
plt.savefig("./Output/Charts/Indy_Rating_2$_Bar.png")

In [ ]:
bar_plot3 = indy_price_df[(indy_price_df["price_int"]==3)|(indy_price_df["price_int"]==4)].groupby("rating").count()["price"].plot(kind='bar', color='teal')
bar_plot3.set_ylabel("Count of 3$ & 4$ Restaurants")
bar_plot3.set_xlabel("Rating")
bar_plot3.set_title("Breakdown of Restaurant Rating by 3$ and 4$ Pricepoint - Indianapolis")
plt.savefig("./Output/Charts/Indy_Rating_3$4$_Bar.png")

In [ ]:
# indy_price_df.groupby("rating")["price_int"].value_counts().plot(kind='bar') 
# plt.xlabel =("Rating & Pricepoint")
# plt.ylabel =("Count")
# plt.title =("Breakdown of Restaurant Ethnicity by Pricepoint - Indianapolis")
# #plt.savefig("./Output/Charts/Indianapolis_Ethnic_Price_Bar.png")
# plt.show()

In [ ]:
# Configure gmaps
gmaps.configure(api_key=google_key)

figure_layout = {
    'width': '600px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px'
}

# create variables for heatmap
locations = indy_price_df[["latitude", "longitude"]]
price = indy_price_df["price_int"].astype(float)
indy_center = (39.791000, -86.148003)

fig = gmaps.figure(layout=figure_layout, center=indy_center, zoom_level=5)

# create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=price, dissipating=True, point_radius=10)

# add layer
fig.add_layer(heat_layer)

# display figure
fig

# Atlanta

In [ ]:
# read in atlanta csv

atlanta_restaurant_totals = pd.read_csv("../Output/Data/atlanta_restaurants.csv")

In [ ]:
atlanta_restaurant_totals

In [ ]:
atlanta_summary_df = atlanta_restaurant_totals.groupby('ethnicity')

atlanta_summary_df.head()

In [ ]:
#create a bar chart for all ethnicities total restaurants


atl_ethnic_total= atlanta_summary_df['ethnicity'].count()

atl_ethnic_bar = atl_ethnic_total.plot(kind='bar')
atl_ethnic_bar.set_title("Restaurants by Ethnicity in Atlanta")
atl_ethnic_bar.set_xlabel("Ethnicity")
atl_ethnic_bar.set_ylabel("Number of Restaurants")
plt.savefig("../Output/Charts/barchart_rest_ethnicity_atlanta.png")

plt.tight_layout()
plt.show()

In [ ]:
price_df = atlanta_restaurant_totals.dropna()
price_df['price_int'] = [ len(price) for price in price_df['price']]

In [ ]:
# value counts for ethnicities

ethnic_counts = price_df['ethnicity'].value_counts()

ethnic_counts

In [ ]:
# Plot a bar chart for price level by ethnicity - price level 1

atl_ethnic_price1 = price_df[price_df['price_int']==1].groupby('ethnicity').count()['name'].plot(kind='bar')


#Set labels 
atl_ethnic_price1.set_xlabel("Ethnicity")
atl_ethnic_price1.set_ylabel("Number of Restaurants")
atl_ethnic_price1.set_title("Price Point by Ethnicity for Atlanta - Level 1")
plt.tight_layout()
plt.savefig("../Output/Charts/barchart_price1_ethnicity_atlanta.png")
plt.show()

In [ ]:
# Plot a bar chart for price level by ethnicity - price level 2

atl_ethnic_price2 = price_df[price_df['price_int']==2].groupby('ethnicity').count()['name'].plot(kind='bar')


#Set labels 
atl_ethnic_price2.set_xlabel("Ethnicity")
atl_ethnic_price2.set_ylabel("Number of Restaurants")
atl_ethnic_price2.set_title("Price Point by Ethnicity for Atlanta - Level 2")
plt.tight_layout()
plt.savefig("../Output/Charts/barchart_price2_ethnicity_atlanta.png")
plt.show()

In [ ]:
# Plot a bar chart for price level by ethnicity - price level 3 or 4

atl_ethnic_price34 = price_df[(price_df['price_int']==3)|(price_df['price_int']==4)].groupby('ethnicity').count()['name'].plot(kind='bar')

#Set labels 
atl_ethnic_price34.set_xlabel("Ethnicity")
atl_ethnic_price34.set_ylabel("Number of Restaurants")
atl_ethnic_price34.set_title("Price Point by Ethnicity for Atlanta - Level 3 or 4")
plt.tight_layout()
plt.savefig("../Output/Charts/barchart_price34_ethnicity_atlanta.png")
plt.show()

In [ ]:
# Plot a bar chart price vs rating - 1 $

atl_rating_price1 = price_df[price_df['price_int']==1].groupby('rating').count()['name'].plot(kind='bar')

#Set labels 
atl_rating_price1.set_xlabel("Rating")
atl_rating_price1.set_ylabel("Number of Restaurants")
atl_rating_price1.set_title("Rating by Price Point for Atlanta - Level 1")
plt.tight_layout()
plt.savefig("../Output/Charts/barchart_price_rating1_atlanta.png")
plt.show()

In [ ]:
# Plot a bar chart price vs rating - 2 $

atl_rating_price2 = price_df[price_df['price_int']==2].groupby('rating').count()['name'].plot(kind='bar')

#Set labels 
atl_rating_price2.set_xlabel("Rating")
atl_rating_price2.set_ylabel("Number of Restaurants")
atl_rating_price2.set_title("Rating by Price Point for Atlanta - Level 2")
plt.tight_layout()
plt.savefig("../Output/Charts/barchart_price_rating2_atlanta.png")
plt.show()

In [ ]:
# Plot a bar chart price vs rating - 3 or 4 $

atl_rating_price34 = price_df[(price_df['price_int']==3)|(price_df['price_int']==4)].groupby('rating').count()['name'].plot(kind='bar')

#Set labels 
atl_rating_price34.set_xlabel("Rating")
atl_rating_price34.set_ylabel("Number of Restaurants")
atl_rating_price34.set_title("Rating by Price Point for Atlanta - Level 3 or 4")
plt.tight_layout()
plt.savefig("../Output/Charts/barchart_price_rating34_atlanta.png")
plt.show()

In [ ]:
#heat map

#configure gmaps
gmaps.configure(api_key=g_key)

#Use the Lat and Lng as locations 
atl_locations = price_df[["latitude", "longitude"]]
atl_prices = price_df["price_int"]

In [ ]:
#Add Heatmap layer to map

atlanta_heatfig = gmaps.figure(center=(33.0, -83.0), zoom_level=5)
atlanta_max_intensity = np.max(atl_prices)

atlanta_heat_layer = gmaps.heatmap_layer(atl_locations, weights = atl_prices, dissipating=True, max_intensity=4, point_radius=5)

atlanta_heatfig.add_layer(atlanta_heat_layer)

atlanta_heatfig

# Philadelphia

In [ ]:
# read in philly csv

philly_restaurant_totals = pd.read_csv("../Output/Data/philadelphia_restaurants.csv")

In [ ]:
philly_restaurant_totals

In [ ]:
philly_summary_df = philly_restaurant_totals.groupby('ethnicity')

philly_summary_df.head()

In [ ]:
#create a bar chart for all ethnicities total restaurants


phl_ethnic_total= philly_summary_df['ethnicity'].count()

phl_ethnic_bar = phl_ethnic_total.plot(kind='bar')
phl_ethnic_bar.set_title("Restaurants by Ethnicity in Philadelphia")
phl_ethnic_bar.set_xlabel("Ethnicity")
phl_ethnic_bar.set_ylabel("Number of Restaurants")
plt.savefig("../Output/Charts/barchart_rest_ethnicity_philadelphia.png")

plt.tight_layout()
plt.show()

In [ ]:
philly_price_df = philly_restaurant_totals.dropna()

philly_price_df['price_int'] = [ len(price) for price in philly_price_df['price']]

In [ ]:
# value counts for ethnicities

ethnic_counts = philly_price_df['ethnicity'].value_counts()

ethnic_counts

In [ ]:
# Plot a bar chart for price level by ethnicity - price level 1

phl_ethnic_price1 = philly_price_df[philly_price_df['price_int']==1].groupby('ethnicity').count()['name'].plot(kind='bar')


#Set labels 
phl_ethnic_price1.set_xlabel("Ethnicity")
phl_ethnic_price1.set_ylabel("Number of Restaurants")
phl_ethnic_price1.set_title("Price Point by Ethnicity for Philadelphia - Level 1")
plt.tight_layout()
plt.savefig("../Output/Charts/barchart_price1_ethnicity_philadelphia.png")
plt.show()

In [ ]:
# Plot a bar chart for price level by ethnicity - price level 2

phl_ethnic_price2 = philly_price_df[philly_price_df['price_int']==2].groupby('ethnicity').count()['name'].plot(kind='bar')


#Set labels 
phl_ethnic_price2.set_xlabel("Ethnicity")
phl_ethnic_price2.set_ylabel("Number of Restaurants")
phl_ethnic_price2.set_title("Price Point by Ethnicity for Philadelphia - Level 2")
plt.tight_layout()
plt.savefig("../Output/Charts/barchart_price2_ethnicity_philadelphia.png")
plt.show()

In [ ]:
# Plot a bar chart for price level by ethnicity - price level 3 or 4

phl_ethnic_price34 = philly_price_df[(philly_price_df['price_int']==3)|(price_df['price_int']==4)].groupby('ethnicity').count()['name'].plot(kind='bar')

#Set labels 
phl_ethnic_price34.set_xlabel("Ethnicity")
phl_ethnic_price34.set_ylabel("Number of Restaurants")
phl_ethnic_price34.set_title("Price Point by Ethnicity for Philadelphia - Level 3 or 4")
plt.tight_layout()
plt.savefig("../Output/Charts/barchart_price34_ethnicity_philadelphia.png")
plt.show()

In [ ]:
# Plot a bar chart price vs rating - 1 $

phl_rating_price1 = philly_price_df[philly_price_df['price_int']==1].groupby('rating').count()['name'].plot(kind='bar')

#Set labels 
phl_rating_price1.set_xlabel("Rating")
phl_rating_price1.set_ylabel("Number of Restaurants")
phl_rating_price1.set_title("Rating by Price Point for Philadelphia - Level 1")
plt.tight_layout()
plt.savefig("../Output/Charts/barchart_price_rating1_philadelphia.png")
plt.show()

In [ ]:
# Plot a bar chart price vs rating - 2 $

phl_rating_price2 = philly_price_df[philly_price_df['price_int']==2].groupby('rating').count()['name'].plot(kind='bar')

#Set labels 
phl_rating_price2.set_xlabel("Rating")
phl_rating_price2.set_ylabel("Number of Restaurants")
phl_rating_price2.set_title("Rating by Price Point for Philadelphia - Level 2")
plt.tight_layout()
plt.savefig("../Output/Charts/barchart_price_rating2_philadelphia.png")
plt.show()

In [ ]:
# Plot a bar chart price vs rating - 3 or 4 $

phl_rating_price34 = philly_price_df[(philly_price_df['price_int']==3)|(philly_price_df['price_int']==4)].groupby('rating').count()['name'].plot(kind='bar')


#Set labels 
phl_rating_price34.set_xlabel("Rating")
phl_rating_price34.set_ylabel("Number of Restaurants")
phl_rating_price34.set_title("Rating by Price Point for Philadelphia - Level 3 or 4")
plt.tight_layout()
plt.savefig("../Output/Charts/barchart_price_rating34_philadelphia.png")
plt.show()

In [ ]:
#heat map

#configure gmaps
gmaps.configure(api_key=g_key)

#Use the Lat and Lng as locations 
phl_locations = philly_price_df[["latitude", "longitude"]]
phl_prices = philly_price_df["price_int"]

In [ ]:
#Add Heatmap layer to map

philly_heatfig = gmaps.figure(center=(39.0, -75.0), zoom_level=5)
philly_max_intensity = np.max(atl_prices)

philly_heat_layer = gmaps.heatmap_layer(phl_locations, weights = phl_prices, dissipating=True, max_intensity=4, point_radius=5)

philly_heatfig.add_layer(philly_heat_layer)

philly_heatfig